{{template "header.html"}}

<div class="row mb-2">
  <span id="file-upload-progtext" class="col-3">
    Progress: N/A
  </span>
  <div class="col-6">
    <progress id="file-upload-progbar" class="col-12" value="0" max="100"></progress>
  </div>
</div>
<form id="file-upload-form" class="row mb-4" action="/files" method="post" enctype="multipart/form-data">
  <div class="col-sm-9">
    <input name="files" id="filename" class="form-control" type="file" multiple=""/>
  </div>
  <div class="col-sm-3">
    <button id="btn-upload-file" type="submit" class="btn btn-primary">Upload
    </button>
    <button id="btn-cancel-upload" type="submit" class="btn btn-danger">Cancel</button>
  </div>
</form>

<div class="mb-3">
  <button type="button" id="btn-download" class="btn btn-primary">Download</button>
  <button type="button" id="btn-create-view" class="btn btn-secondary">Create view</button>
  <button type="button" id="btn-delete" class="btn btn-danger">Delete</button>
</div>

<!-- Files table -->
<table id="files" class="table table-hover">
  <thead>
  <tr>
    <th scope="col">
      <input id="all-files-checkbox" type="checkbox" />
    </th>
    <th scope="col">Filename</th>
    <th scope="col">Size</th>
    <th scope="col">Upload date</th>
  </tr>
  </thead>
  <tbody>
  {{range .}}
  <tr data-fileid="{{.Id}}">
    <td><input class="file-selector" type="checkbox"/></td>
    <td><a href="/files/{{.Id}}">{{.Name}}</a></td>
    <td>{{ToBinarySuffix .Size}}</td>
    <td>{{.UploadDate.Format "2006-01-02 15:04:05"}}</td>
  </tr>
  {{else}}
  No files available.
  {{end}}
  </tbody>
</table>

{{template "footer.html"}}